In [32]:
pip install us

Requirement already satisfied: us in c:\users\sungm\anaconda3\envs\hvplot-env\lib\site-packages (3.1.1)
Collecting jellyfish==0.11.2 (from us)
  Using cached jellyfish-0.11.2-cp310-none-win_amd64.whl (208 kB)
Installing collected packages: jellyfish
  Attempting uninstall: jellyfish
    Found existing installation: jellyfish 0.6.1
    Uninstalling jellyfish-0.6.1:
      Successfully uninstalled jellyfish-0.6.1
Successfully installed jellyfish-0.11.2
Note: you may need to restart the kernel to use updated packages.

In [33]:
DC_STATEHOOD=1

In [1]:
import us
import pandas as pd
import numpy as np
import requests
import json

In [2]:
states = us.states.STATES
state_abbr = []

for state in states:
    state_abbr.append(state.abbr)

state_abbr = [name.lower() for name in state_abbr]

covid_deaths_2020_df = pd.DataFrame({'State': states, 'State Abbreviation':state_abbr})
covid_deaths_2020_df ["Deaths 2020-03-07"] = ""
covid_deaths_2020_df ["Deaths 2020-12-31"] = ""
covid_deaths_2020_df ["Total Deaths 2020"] = ""
covid_deaths_2020_df

,State,State Abbreviation,Deaths 2020-03-07,Deaths 2020-12-31,Total Deaths 2020
0,Alabama,al,,,
1,Alaska,ak,,,
2,Arizona,az,,,
3,Arkansas,ar,,,
4,California,ca,,,
5,Colorado,co,,,
6,Connecticut,ct,,,
7,Delaware,de,,,
8,Florida,fl,,,
9,Georgia,ga,,,
10,Hawaii,hi,,,
11,Idaho,id,,,
12,Illinois,il,,,
13,Indiana,in,,,
14,Iowa,ia,,,
15,Kansas,ks,,,
16,Kentucky,ky,,,
17,Louisiana,la,,,
18,Maine,me,,,
19,Maryland,md,,,
20,Massachusetts,ma,,,
21,Michigan,mi,,,
22,Minnesota,mn,,,
23,Mississippi,ms,,,
24,Missouri,mo,,,
25,Montana,mt,,,
26,Nebraska,ne,,,
27,Nevada,nv,,,
28,New Hampshire,nh,,,
29,New Jersey,nj,,,
30,New Mexico,nm,,,
31,New York,ny,,,
32,North Carolina,nc,,,
33,North Dakota,nd,,,
34,Ohio,oh,,,
35,Oklahoma,ok,,,
36,Oregon,or,,,
37,Pennsylvania,pa,,,
38,Rhode Island,ri,,,
39,South Carolina,sc,,,
40,South Dakota,sd,,,
41,Tennessee,tn,,,
42,Texas,tx,,,
43,Utah,ut,,,
44,Vermont,vt,,,
45,Virginia,va,,,
46,Washington,wa,,,
47,West Virginia,wv,,,
48,Wisconsin,wi,,,
49,Wyoming,wy,,,

In [13]:
# url = "https://api.covidtracking.com/v1/states/"

# for state in state_abbr:
#     query_url = f"{url}{state}/daily.json"
#     response = requests.get(query_url).json()
    
# print(json.dumps(response, indent=4, sort_keys=True))

In [3]:
url = "https://api.covidtracking.com/v2/states/"
 
for index, row in covid_deaths_2020_df.iterrows():
    query_url = f"{url}{row['State Abbreviation']}/2020-03-07.json"
    response = requests.get(query_url).json()
    covid_deaths_2020_df.loc[index, "Deaths 2020-03-07"] = response["data"]["outcomes"]["death"]["total"]["value"]

for index, row in covid_deaths_2020_df.iterrows():
    query_url = f"{url}{row['State Abbreviation']}/2020-12-31.json"
    response = requests.get(query_url).json()
    covid_deaths_2020_df.loc[index, "Deaths 2020-12-31"] = response["data"]["outcomes"]["death"]["total"]["value"]

covid_deaths_2020_df

,State,State Abbreviation,Deaths 2020-03-07,Deaths 2020-12-31,Total Deaths 2020
0,Alabama,al,None,4827,
1,Alaska,ak,0,206,
2,Arizona,az,None,8864,
3,Arkansas,ar,None,3676,
4,California,ca,None,25386,
5,Colorado,co,None,4814,
6,Connecticut,ct,None,5995,
7,Delaware,de,None,926,
8,Florida,fl,None,21990,
9,Georgia,ga,None,10934,
10,Hawaii,hi,None,288,
11,Idaho,id,None,1403,
12,Illinois,il,None,17978,
13,Indiana,in,None,8263,
14,Iowa,ia,None,3891,
15,Kansas,ks,None,2741,
16,Kentucky,ky,None,2623,
17,Louisiana,la,None,7488,
18,Maine,me,None,347,
19,Maryland,md,None,5895,
20,Massachusetts,ma,None,12423,
21,Michigan,mi,None,13018,
22,Minnesota,mn,None,5323,
23,Mississippi,ms,None,4787,
24,Missouri,mo,None,5519,
25,Montana,mt,None,961,
26,Nebraska,ne,None,1611,
27,Nevada,nv,0,3125,
28,New Hampshire,nh,None,759,
29,New Jersey,nj,0,19042,
30,New Mexico,nm,None,2477,
31,New York,ny,None,30040,
32,North Carolina,nc,None,6748,
33,North Dakota,nd,None,1289,
34,Ohio,oh,None,8962,
35,Oklahoma,ok,None,2489,
36,Oregon,or,None,1468,
37,Pennsylvania,pa,None,15978,
38,Rhode Island,ri,None,1809,
39,South Carolina,sc,None,5296,
40,South Dakota,sd,None,1488,
41,Tennessee,tn,None,6907,
42,Texas,tx,None,27437,
43,Utah,ut,None,1269,
44,Vermont,vt,None,136,
45,Virginia,va,None,5032,
46,Washington,wa,27,3420,
47,West Virginia,wv,None,1338,
48,Wisconsin,wi,None,5242,
49,Wyoming,wy,None,438,