In [1]:
# Install necessary libraries
!pip install us

Requirement already satisfied: us in c:\users\mmack\anaconda3\lib\site-packages (3.1.1)
Requirement already satisfied: jellyfish==0.11.2 in c:\users\mmack\anaconda3\lib\site-packages (from us) (0.11.2)

In [2]:
# Import the required libraries
import us
import pandas as pd
import numpy as np
import requests
import json
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import sem
from scipy.stats import linregress
#from sklearn import datasets

In [3]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
states = us.states.STATES
state_abbr = []
fips = []

for state in states:
    state_abbr.append(state.abbr)
    fips.append(state.fips)

state_abbr = [name.lower() for name in state_abbr]

states.append("District of Columbia")
state_abbr.append("dc")
fips.append("11")

covid_deaths_2020_df = pd.DataFrame({'State': states, 'State Abbreviation':state_abbr, 'FIPS':fips})
covid_deaths_2020_df ["Total Population 2021"] = ""
covid_deaths_2020_df ["Total Cases 2020"] = ""
covid_deaths_2020_df ["Total Hospitalized 2020"] = ""
covid_deaths_2020_df ["Total Deaths 2020"] = ""

# Display sample data
covid_deaths_2020_df

,State,State Abbreviation,FIPS,Total Population 2021,Total Cases 2020,Total Hospitalized 2020,Total Deaths 2020
0,Alabama,al,01,,,,
1,Alaska,ak,02,,,,
2,Arizona,az,04,,,,
3,Arkansas,ar,05,,,,
4,California,ca,06,,,,
5,Colorado,co,08,,,,
6,Connecticut,ct,09,,,,
7,Delaware,de,10,,,,
8,Florida,fl,12,,,,
9,Georgia,ga,13,,,,
10,Hawaii,hi,15,,,,
11,Idaho,id,16,,,,
12,Illinois,il,17,,,,
13,Indiana,in,18,,,,
14,Iowa,ia,19,,,,
15,Kansas,ks,20,,,,
16,Kentucky,ky,21,,,,
17,Louisiana,la,22,,,,
18,Maine,me,23,,,,
19,Maryland,md,24,,,,
20,Massachusetts,ma,25,,,,
21,Michigan,mi,26,,,,
22,Minnesota,mn,27,,,,
23,Mississippi,ms,28,,,,
24,Missouri,mo,29,,,,
25,Montana,mt,30,,,,
26,Nebraska,ne,31,,,,
27,Nevada,nv,32,,,,
28,New Hampshire,nh,33,,,,
29,New Jersey,nj,34,,,,
30,New Mexico,nm,35,,,,
31,New York,ny,36,,,,
32,North Carolina,nc,37,,,,
33,North Dakota,nd,38,,,,
34,Ohio,oh,39,,,,
35,Oklahoma,ok,40,,,,
36,Oregon,or,41,,,,
37,Pennsylvania,pa,42,,,,
38,Rhode Island,ri,44,,,,
39,South Carolina,sc,45,,,,
40,South Dakota,sd,46,,,,
41,Tennessee,tn,47,,,,
42,Texas,tx,48,,,,
43,Utah,ut,49,,,,
44,Vermont,vt,50,,,,
45,Virginia,va,51,,,,
46,Washington,wa,53,,,,
47,West Virginia,wv,54,,,,
48,Wisconsin,wi,55,,,,
49,Wyoming,wy,56,,,,
50,District of Columbia,dc,11,,,,

In [4]:
covid_deaths_2020_df['State'] = covid_deaths_2020_df['State'] .astype(str)
covid_deaths_2020_df.sort_values('State').reset_index(drop=True)

,State,State Abbreviation,FIPS,Total Population 2021,Total Cases 2020,Total Hospitalized 2020,Total Deaths 2020
0,Alabama,al,01,,,,
1,Alaska,ak,02,,,,
2,Arizona,az,04,,,,
3,Arkansas,ar,05,,,,
4,California,ca,06,,,,
5,Colorado,co,08,,,,
6,Connecticut,ct,09,,,,
7,Delaware,de,10,,,,
8,District of Columbia,dc,11,,,,
9,Florida,fl,12,,,,
10,Georgia,ga,13,,,,
11,Hawaii,hi,15,,,,
12,Idaho,id,16,,,,
13,Illinois,il,17,,,,
14,Indiana,in,18,,,,
15,Iowa,ia,19,,,,
16,Kansas,ks,20,,,,
17,Kentucky,ky,21,,,,
18,Louisiana,la,22,,,,
19,Maine,me,23,,,,
20,Maryland,md,24,,,,
21,Massachusetts,ma,25,,,,
22,Michigan,mi,26,,,,
23,Minnesota,mn,27,,,,
24,Mississippi,ms,28,,,,
25,Missouri,mo,29,,,,
26,Montana,mt,30,,,,
27,Nebraska,ne,31,,,,
28,Nevada,nv,32,,,,
29,New Hampshire,nh,33,,,,
30,New Jersey,nj,34,,,,
31,New Mexico,nm,35,,,,
32,New York,ny,36,,,,
33,North Carolina,nc,37,,,,
34,North Dakota,nd,38,,,,
35,Ohio,oh,39,,,,
36,Oklahoma,ok,40,,,,
37,Oregon,or,41,,,,
38,Pennsylvania,pa,42,,,,
39,Rhode Island,ri,44,,,,
40,South Carolina,sc,45,,,,
41,South Dakota,sd,46,,,,
42,Tennessee,tn,47,,,,
43,Texas,tx,48,,,,
44,Utah,ut,49,,,,
45,Vermont,vt,50,,,,
46,Virginia,va,51,,,,
47,Washington,wa,53,,,,
48,West Virginia,wv,54,,,,
49,Wisconsin,wi,55,,,,
50,Wyoming,wy,56,,,,

In [5]:
# Summary DataFrame
census_url = "https://api.census.gov/data/2021/acs/acs1?get=NAME,B01001_001E&for=state:"
covid_url = "https://api.covidtracking.com/v2/states/"

for index, row in covid_deaths_2020_df.iterrows():
    query_url = f"{census_url}{row['FIPS']}"
    response = requests.get(query_url).json()
    covid_deaths_2020_df.loc[index, "Total Population 2021"] = response[1][1]

for index, row in covid_deaths_2020_df.iterrows():
    query_url = f"{covid_url}{row['State Abbreviation']}/2020-12-31.json"
    response = requests.get(query_url).json()
    covid_deaths_2020_df.loc[index, "Total Cases 2020"] = response["data"]["cases"]["total"]["value"]

for index, row in covid_deaths_2020_df.iterrows():
    query_url = f"{covid_url}{row['State Abbreviation']}/2020-12-31.json"
    response = requests.get(query_url).json()
    covid_deaths_2020_df.loc[index, "Total Hospitalized 2020"] = response["data"]["outcomes"]["hospitalized"]["total"]["value"]
    
for index, row in covid_deaths_2020_df.iterrows():
    query_url = f"{covid_url}{row['State Abbreviation']}/2020-12-31.json"
    response = requests.get(query_url).json()
    covid_deaths_2020_df.loc[index, "Total Deaths 2020"] = response["data"]["outcomes"]["death"]["total"]["value"]
    
covid_deaths_2020_df

,State,State Abbreviation,FIPS,Total Population 2021,Total Cases 2020,Total Hospitalized 2020,Total Deaths 2020
0,Alabama,al,01,5039877,361226,34184,4827
1,Alaska,ak,02,732673,45461,1023,206
2,Arizona,az,04,7276316,520207,37257,8864
3,Arkansas,ar,05,3025891,225138,11358,3676
4,California,ca,06,39237836,2245379,None,25386
5,Colorado,co,08,5812069,334097,18598,4814
6,Connecticut,ct,09,3605597,185708,None,5995
7,Delaware,de,10,1003384,57456,None,926
8,Florida,fl,12,21781128,1300528,63741,21990
9,Georgia,ga,13,10799566,666452,42084,10934
10,Hawaii,hi,15,1441553,21832,1768,288
11,Idaho,id,16,1900923,139864,5567,1403
12,Illinois,il,17,12671469,963389,None,17978
13,Indiana,in,18,6805985,511485,34999,8263
14,Iowa,ia,19,3193079,239173,None,3891
15,Kansas,ks,20,2934582,222433,6760,2741
16,Kentucky,ky,21,4509394,265262,13488,2623
17,Louisiana,la,22,4624047,315275,None,7488
18,Maine,me,23,1372247,24201,1065,347
19,Maryland,md,24,6165129,276662,26636,5895
20,Massachusetts,ma,25,6984723,375178,16098,12423
21,Michigan,mi,26,10050811,528621,None,13018
22,Minnesota,mn,27,5707390,415302,21864,5323
23,Mississippi,ms,28,2949965,215811,8145,4787
24,Missouri,mo,29,6168187,392570,None,5519
25,Montana,mt,30,1104271,81555,3568,961
26,Nebraska,ne,31,1963692,165297,5220,1611
27,Nevada,nv,32,3143991,224731,None,3125
28,New Hampshire,nh,33,1388992,44028,902,759
29,New Jersey,nj,34,9267130,526985,47326,19042
30,New Mexico,nm,35,2115877,142864,9689,2477
31,New York,ny,36,19835913,974214,None,30040
32,North Carolina,nc,37,10551162,539545,None,6748
33,North Dakota,nd,38,774948,92495,3552,1289
34,Ohio,oh,39,11780017,700380,38334,8962
35,Oklahoma,ok,40,3986639,290936,17059,2489
36,Oregon,or,41,4246155,112260,6455,1468
37,Pennsylvania,pa,42,12964056,640325,None,15978
38,Rhode Island,ri,44,1095610,89541,6506,1809
39,South Carolina,sc,45,5190705,307507,14390,5296
40,South Dakota,sd,46,895376,99164,5672,1488
41,Tennessee,tn,47,6975218,586802,14531,6907
42,Texas,tx,48,29527941,1756172,None,27437
43,Utah,ut,49,3337975,276612,10956,1269
44,Vermont,vt,50,645570,7412,None,136
45,Virginia,va,51,8642274,349584,18041,5032
46,Washington,wa,53,7738692,242330,14571,3420
47,West Virginia,wv,54,1782959,85334,None,1338
48,Wisconsin,wi,55,5895908,520438,21350,5242
49,Wyoming,wy,56,578803,44409,1102,438
50,District of Columbia,dc,11,670050,28983,None,786

In [6]:
covid_deaths_2020_df.sort_values('State').reset_index(drop=True)

,State,State Abbreviation,FIPS,Total Population 2021,Total Cases 2020,Total Hospitalized 2020,Total Deaths 2020
0,Alabama,al,01,5039877,361226,34184,4827
1,Alaska,ak,02,732673,45461,1023,206
2,Arizona,az,04,7276316,520207,37257,8864
3,Arkansas,ar,05,3025891,225138,11358,3676
4,California,ca,06,39237836,2245379,None,25386
5,Colorado,co,08,5812069,334097,18598,4814
6,Connecticut,ct,09,3605597,185708,None,5995
7,Delaware,de,10,1003384,57456,None,926
8,District of Columbia,dc,11,670050,28983,None,786
9,Florida,fl,12,21781128,1300528,63741,21990
10,Georgia,ga,13,10799566,666452,42084,10934
11,Hawaii,hi,15,1441553,21832,1768,288
12,Idaho,id,16,1900923,139864,5567,1403
13,Illinois,il,17,12671469,963389,None,17978
14,Indiana,in,18,6805985,511485,34999,8263
15,Iowa,ia,19,3193079,239173,None,3891
16,Kansas,ks,20,2934582,222433,6760,2741
17,Kentucky,ky,21,4509394,265262,13488,2623
18,Louisiana,la,22,4624047,315275,None,7488
19,Maine,me,23,1372247,24201,1065,347
20,Maryland,md,24,6165129,276662,26636,5895
21,Massachusetts,ma,25,6984723,375178,16098,12423
22,Michigan,mi,26,10050811,528621,None,13018
23,Minnesota,mn,27,5707390,415302,21864,5323
24,Mississippi,ms,28,2949965,215811,8145,4787
25,Missouri,mo,29,6168187,392570,None,5519
26,Montana,mt,30,1104271,81555,3568,961
27,Nebraska,ne,31,1963692,165297,5220,1611
28,Nevada,nv,32,3143991,224731,None,3125
29,New Hampshire,nh,33,1388992,44028,902,759
30,New Jersey,nj,34,9267130,526985,47326,19042
31,New Mexico,nm,35,2115877,142864,9689,2477
32,New York,ny,36,19835913,974214,None,30040
33,North Carolina,nc,37,10551162,539545,None,6748
34,North Dakota,nd,38,774948,92495,3552,1289
35,Ohio,oh,39,11780017,700380,38334,8962
36,Oklahoma,ok,40,3986639,290936,17059,2489
37,Oregon,or,41,4246155,112260,6455,1468
38,Pennsylvania,pa,42,12964056,640325,None,15978
39,Rhode Island,ri,44,1095610,89541,6506,1809
40,South Carolina,sc,45,5190705,307507,14390,5296
41,South Dakota,sd,46,895376,99164,5672,1488
42,Tennessee,tn,47,6975218,586802,14531,6907
43,Texas,tx,48,29527941,1756172,None,27437
44,Utah,ut,49,3337975,276612,10956,1269
45,Vermont,vt,50,645570,7412,None,136
46,Virginia,va,51,8642274,349584,18041,5032
47,Washington,wa,53,7738692,242330,14571,3420
48,West Virginia,wv,54,1782959,85334,None,1338
49,Wisconsin,wi,55,5895908,520438,21350,5242
50,Wyoming,wy,56,578803,44409,1102,438

In [7]:
hospital_bed_df = pd.read_csv('2020 Hospital Beds By State Edited.csv')
covid_deaths_2020_df = covid_deaths_2020_df.merge(hospital_bed_df,how='left',on='State')
covid_deaths_2020_df['Death Rate 2020 (%)']=covid_deaths_2020_df['Total Deaths 2020']/covid_deaths_2020_df['Total Cases 2020'] * 100
covid_deaths_2020_df

,State,State Abbreviation,FIPS,Total Population 2021,Total Cases 2020,Total Hospitalized 2020,Total Deaths 2020,State/Local Government,Non-Profit,For-Profit,Total Beds Per 1000 Capita,Death Rate 2020 (%)
0,Alabama,al,01,5039877,361226,34184,4827,1.40,0.84,0.82,3.06,1.336283
1,Alaska,ak,02,732673,45461,1023,206,0.23,1.58,0.36,2.17,0.453136
2,Arizona,az,04,7276316,520207,37257,8864,0.11,1.49,0.39,1.99,1.703937
3,Arkansas,ar,05,3025891,225138,11358,3676,0.36,2.16,0.63,3.16,1.632776
4,California,ca,06,39237836,2245379,None,25386,0.33,1.22,0.30,1.84,1.130589
5,Colorado,co,08,5812069,334097,18598,4814,0.38,1.12,0.41,1.91,1.440899
6,Connecticut,ct,09,3605597,185708,None,5995,0.05,1.99,0.05,2.09,3.228186
7,Delaware,de,10,1003384,57456,None,926,NaN,2.16,0.04,2.20,1.611668
8,Florida,fl,12,21781128,1300528,63741,21990,0.40,1.32,0.82,2.55,1.690852
9,Georgia,ga,13,10799566,666452,42084,10934,0.27,1.78,0.29,2.34,1.640628
10,Hawaii,hi,15,1441553,21832,1768,288,0.27,1.58,NaN,1.85,1.319165
11,Idaho,id,16,1900923,139864,5567,1403,0.48,1.03,0.41,1.91,1.003117
12,Illinois,il,17,12671469,963389,None,17978,0.12,2.24,0.12,2.49,1.866121
13,Indiana,in,18,6805985,511485,34999,8263,0.43,1.91,0.37,2.71,1.615492
14,Iowa,ia,19,3193079,239173,None,3891,0.89,1.90,0.06,2.85,1.626856
15,Kansas,ks,20,2934582,222433,6760,2741,0.99,1.39,0.81,3.19,1.232281
16,Kentucky,ky,21,4509394,265262,13488,2623,0.33,2.41,0.43,3.17,0.988834
17,Louisiana,la,22,4624047,315275,None,7488,0.55,2.01,0.68,3.25,2.375069
18,Maine,me,23,1372247,24201,1065,347,0.05,2.44,0.07,2.56,1.433825
19,Maryland,md,24,6165129,276662,26636,5895,NaN,1.81,0.01,1.82,2.130759
20,Massachusetts,ma,25,6984723,375178,16098,12423,0.06,1.82,0.37,2.25,3.311228
21,Michigan,mi,26,10050811,528621,None,13018,0.07,2.12,0.25,2.43,2.462634
22,Minnesota,mn,27,5707390,415302,21864,5323,0.29,2.14,NaN,2.43,1.281718
23,Mississippi,ms,28,2949965,215811,8145,4787,1.70,1.51,0.78,3.99,2.218145
24,Missouri,mo,29,6168187,392570,None,5519,0.42,2.20,0.40,3.01,1.405864
25,Montana,mt,30,1104271,81555,3568,961,0.20,3.06,0.19,3.46,1.178346
26,Nebraska,ne,31,1963692,165297,5220,1611,0.36,2.89,0.13,3.38,0.974609
27,Nevada,nv,32,3143991,224731,None,3125,0.21,0.61,1.26,2.08,1.390551
28,New Hampshire,nh,33,1388992,44028,902,759,NaN,1.65,0.38,2.04,1.723903
29,New Jersey,nj,34,9267130,526985,47326,19042,0.15,2.00,0.21,2.36,3.613386
30,New Mexico,nm,35,2115877,142864,9689,2477,0.34,0.75,0.69,1.79,1.733817
31,New York,ny,36,19835913,974214,None,30040,0.46,2.06,NaN,2.52,3.083511
32,North Carolina,nc,37,10551162,539545,None,6748,0.62,1.35,0.11,2.08,1.250683
33,North Dakota,nd,38,774948,92495,3552,1289,NaN,4.22,0.09,4.31,1.393589
34,Ohio,oh,39,11780017,700380,38334,8962,0.25,2.27,0.21,2.73,1.279591
35,Oklahoma,ok,40,3986639,290936,17059,2489,0.50,1.54,0.76,2.81,0.855515
36,Oregon,or,41,4246155,112260,6455,1468,0.21,1.38,0.06,1.64,1.307679
37,Pennsylvania,pa,42,12964056,640325,None,15978,0.00,2.46,0.27,2.73,2.495295
38,Rhode Island,ri,44,1095610,89541,6506,1809,NaN,2.00,NaN,2.00,2.020304
39,South Carolina,sc,45,5190705,307507,14390,5296,0.67,1.00,0.52,2.19,1.722237
40,South Dakota,sd,46,895376,99164,5672,1488,0.24,4.35,0.23,4.82,1.500545
41,Tennessee,tn,47,6975218,586802,14531,6907,0.48,1.49,0.80,2.77,1.177058
42,Texas,tx,48,29527941,1756172,None,27437,0.32,0.99,0.96,2.28,1.562318
43,Utah,ut,49,3337975,276612,10956,1269,0.34,0.93,0.53,1.80,0.458765
44,Vermont,vt,50,645570,7412,None,136,NaN,2.08,NaN,2.08,1.834862
45,Virginia,va,51,8642274,349584,18041,5032,0.21,1.48,0.42,2.10,1.439425
46,Washington,wa,53,7738692,242330,14571,3420,0.41,1.15,0.02,1.58,1.411299
47,West Virginia,wv,54,1782959,85334,None,1338,0.23,2.74,0.54,3.52,1.567957
48,Wisconsin,wi,55,5895908,520438,21350,5242,0.00,1.99,0.08,2.08,1.007229
49,Wyoming,wy,56,578803,44409,1102,438,2.37,0.64,0.35,3.35,0.986287
50,District of Columbia,dc,11,670050,28983,None,786,NaN,3.70,1.01,4.70,2.711935

In [8]:
covid_deaths_2020_df['Total Cases 2020'] = pd.to_numeric(covid_deaths_2020_df['Total Cases 2020'])
covid_deaths_2020_df['Total Population 2021'] = pd.to_numeric(covid_deaths_2020_df['Total Population 2021'])

In [9]:
death_rate_2020_df = covid_deaths_2020_df.loc[:,['State', 'Total Population 2021', 'Total Cases 2020', 'Death Rate 2020 (%)']]
death_rate_2020_df['Infection Rate (%)']=covid_deaths_2020_df['Total Cases 2020']/covid_deaths_2020_df['Total Population 2021']*100
death_rate_2020_df

,State,Total Population 2021,Total Cases 2020,Death Rate 2020 (%),Infection Rate (%)
0,Alabama,5039877,361226,1.336283,7.167357
1,Alaska,732673,45461,0.453136,6.204814
2,Arizona,7276316,520207,1.703937,7.149318
3,Arkansas,3025891,225138,1.632776,7.440387
4,California,39237836,2245379,1.130589,5.722484
5,Colorado,5812069,334097,1.440899,5.748332
6,Connecticut,3605597,185708,3.228186,5.150548
7,Delaware,1003384,57456,1.611668,5.726222
8,Florida,21781128,1300528,1.690852,5.970894
9,Georgia,10799566,666452,1.640628,6.171100
10,Hawaii,1441553,21832,1.319165,1.514478
11,Idaho,1900923,139864,1.003117,7.357689
12,Illinois,12671469,963389,1.866121,7.602820
13,Indiana,6805985,511485,1.615492,7.515224
14,Iowa,3193079,239173,1.626856,7.490356
15,Kansas,2934582,222433,1.232281,7.579717
16,Kentucky,4509394,265262,0.988834,5.882431
17,Louisiana,4624047,315275,2.375069,6.818162
18,Maine,1372247,24201,1.433825,1.763604
19,Maryland,6165129,276662,2.130759,4.487530
20,Massachusetts,6984723,375178,3.311228,5.371408
21,Michigan,10050811,528621,2.462634,5.259486
22,Minnesota,5707390,415302,1.281718,7.276566
23,Mississippi,2949965,215811,2.218145,7.315714
24,Missouri,6168187,392570,1.405864,6.364431
25,Montana,1104271,81555,1.178346,7.385415
26,Nebraska,1963692,165297,0.974609,8.417664
27,Nevada,3143991,224731,1.390551,7.147953
28,New Hampshire,1388992,44028,1.723903,3.169781
29,New Jersey,9267130,526985,3.613386,5.686604
30,New Mexico,2115877,142864,1.733817,6.751999
31,New York,19835913,974214,3.083511,4.911365
32,North Carolina,10551162,539545,1.250683,5.113607
33,North Dakota,774948,92495,1.393589,11.935640
34,Ohio,11780017,700380,1.279591,5.945492
35,Oklahoma,3986639,290936,0.855515,7.297776
36,Oregon,4246155,112260,1.307679,2.643804
37,Pennsylvania,12964056,640325,2.495295,4.939234
38,Rhode Island,1095610,89541,2.020304,8.172707
39,South Carolina,5190705,307507,1.722237,5.924186
40,South Dakota,895376,99164,1.500545,11.075124
41,Tennessee,6975218,586802,1.177058,8.412669
42,Texas,29527941,1756172,1.562318,5.947492
43,Utah,3337975,276612,0.458765,8.286821
44,Vermont,645570,7412,1.834862,1.148133
45,Virginia,8642274,349584,1.439425,4.045046
46,Washington,7738692,242330,1.411299,3.131408
47,West Virginia,1782959,85334,1.567957,4.786089
48,Wisconsin,5895908,520438,1.007229,8.827105
49,Wyoming,578803,44409,0.986287,7.672559
50,District of Columbia,670050,28983,2.711935,4.325498

In [ ]:
#covid_deaths_2020_df['Infection Rate']=covid_deaths_2020_df['Total Cases 2020']/i/ / covid_deaths_2020_df['Total Population 2021']/i/
#=death_rate_2020_df['Total Cases 2020']/death_rate_2020_df['Total Population 2021']
import os

covid_deaths_2020_df['Death Rate 2020 (%)']=covid_deaths_2020_df['Total Cases 2020']/covid_deaths_2020_df['Total Population 2021'] * 100
covid_deaths_2020_df


#death_rate_2020_df

In [ ]:
death_rate_2020_df = covid_deaths_2020_df.loc[:,['State', 'Total Population 2021', 'Total Cases 2020', 'Death Rate 2020 (%)']]
death_rate_2020_df['Infection Rate']
#=death_rate_2020_df['Total Cases 2020']/death_rate_2020_df['Total Population 2021']
death_rate_2020_df

In [ ]:
#covid_deaths_2020_df

#dependencies
import matplotlib.pyplot as plt
import numpy as np

#max x value will be 4(%)
x_limit = 4

#list of x axis values with step interval
x_axis = np.arange(0, x_limit, 1)

#create array of data for y values
#y_data = (covid_deaths_2020_df['Death Rate 2020 (%)']=covid_deaths_2020_df['Total Deaths 2020']/covid_deaths_2020_df['Total Cases 2020'] * 100) for value in x_axis

covid_deaths_2020_df=pd.DataFrame(death_rate_df.loc[death_rate_df["Death Rate 2020 (%)"]>0, :])


#make & format scatter plot
plt.scatter(x_axis, y_data, marker="o", facecolors="red", edgecolors="black", s=x_axis, alpha=0.75)

#set y value limits
plt.ylim(0, 1)

#set x value limits
plt.xlim(0, x_limit)

#print plot
plt.show()

In [ ]:
hospital_bed_df

In [ ]:
x_values = covid_deaths_2020_df["Total Beds Per 1000 Capita"]
y_values = covid_deaths_2020_df["Death Rate 2020 (%)"]

plt.scatter(x_values, y_values)
plt.xlabel('Hospital Beds Per 1000 Capita')
plt.ylabel('Death Rate')
plt.title('COVID-19 Death Rate vs. Hospital Beds Per Capita, 2020 US States')
plt.show()

In [ ]:
covid_deaths_2020_df = covid_deaths_2020_df.astype({"Total Beds Per 1000 Capita" : "float64"}, errors = 'raise')
covid_deaths_2020_df = covid_deaths_2020_df.astype({"Death Rate 2020 (%)" : "float64"}, errors = 'raise')

In [ ]:
x_values = covid_deaths_2020_df["Total Beds Per 1000 Capita"]
y_values = covid_deaths_2020_df["Death Rate 2020 (%)"]
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

correlation = st.pearsonr(x_values, y_values)

plt.scatter(x_values,y_values)
plt.plot(x_values, regress_values, "r-")
plt.annotate(line_eq, (5,1), fontsize = 15, color = "red")
plt.xlabel('Hospital Beds Per 1000 Capita')
plt.ylabel('COVID-19 Death Rate (%)')
plt.show()
print(f"The correlation coefficient between COVID-19 death rate and hospital beds per capita is: {round(correlation[0],2)}")

In [ ]:
!pip install geopandas
!pip install pyproj

In [ ]:
# Import the required libraries
import pandas as pd
import hvplot.pandas
import geopandas as gpd
import panel as pn

In [ ]:
# Assuming you've already loaded and processed your data

# Example: Plotting Total Deaths vs. Total Cases with a scatter plot
covid_deaths_2020_df['Total Deaths 2020'] = covid_deaths_2020_df['Total Deaths 2020'].astype(float)
covid_deaths_2020_df['Total Cases 2020'] = covid_deaths_2020_df['Total Cases 2020'].astype(float)

plot = covid_deaths_2020_df.hvplot.scatter(
    x='Total Cases 2020',
    y='Total Deaths 2020',
    c='State',  # Use color to distinguish states
    cmap='Category20',
    hover_cols=['State'],  # Show state names on hover
    title='Total Deaths vs. Total Cases by State in 2020',
    xlabel='Total Cases 2020',
    ylabel='Total Deaths 2020',
    width=800,
    height=500,
)

plot

In [ ]:
# Load U.S. states boundaries data from geopandas
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

# Filter U.S. states
us_states = world[world['name'].isin(['United States of America'])]

# Save the U.S. states as a GeoJSON file
us_states.to_file('us_states.geojson', driver='GeoJSON')

In [ ]:
# Replace with the actual file path to the .shp file
shapefile_path = "States_shapefile.shp"

# Load the US states shapefile
us_states_gdf = gpd.read_file(shapefile_path)

# Print the column names of the GeoDataFrame
print(us_states_gdf.columns)

In [ ]:
# Clean state names by stripping leading/trailing spaces and converting to uppercase
us_states_gdf['State_Name'] = us_states_gdf['State_Name'].str.strip().str.upper()
covid_deaths_2020_df['State'] = covid_deaths_2020_df['State'].str.strip().str.upper()

In [ ]:
# print the clean dateset
print("Unique state names in shapefile:", us_states_gdf['State_Name'].unique())
print("Unique state names in COVID data:", covid_deaths_2020_df['State'].unique())

In [ ]:
# Merge the COVID data with the US states GeoDataFrame based on 'State_Name'
merged_gdf = us_states_gdf.merge(covid_deaths_2020_df, left_on='State_Name', right_on='State', how='left')

# Create a plot of the US states map with COVID data using hvplot
map_plot = merged_gdf.hvplot(
    geo=True,
    line_color='white',
    hover_cols=['State_Name', 'Total Deaths 2020'],  # Include COVID data in hover
    title='US States Map with COVID Data',
    width=1000,
    height=800
)

map_plot

In [ ]:
import hvplot.pandas

# Convert the columns to numeric data types (in case they are not already)
covid_deaths_2020_df["Total Deaths 2020"] = pd.to_numeric(covid_deaths_2020_df["Death Rate 2020 (%)"], errors="coerce")
covid_deaths_2020_df["Total Population 2021"] = pd.to_numeric(covid_deaths_2020_df["Total Population 2021"], errors="coerce")

# Create a scatter plot
scatter_plot = covid_deaths_2020_df.hvplot.scatter(
    x='Total Population 2021',
    y='Death Rate 2020 (%)',
    c='Death Rate 2020 (%)',  # Color points by Total Deaths 2020
    cmap='viridis',  # Choose a color map
    hover_cols=['State'],  # Show state names on hover
    title='Correlation between Death Rate 2020 (%) and Total Population 2021',
    xlabel='Total Population 2021',
    ylabel='Death Rate 2020 (%)',
    width=800,
    height=500,
)


scatter_plot

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress

# Convert the columns to numeric data types (in case they are not already)
covid_deaths_2020_df["Total Deaths 2020"] = pd.to_numeric(covid_deaths_2020_df["Death Rate 2020 (%)"], errors="coerce")
covid_deaths_2020_df["Total Population 2021"] = pd.to_numeric(covid_deaths_2020_df["Total Population 2021"], errors="coerce")

# Create a scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(covid_deaths_2020_df["Total Population 2021"], covid_deaths_2020_df["Death Rate 2020 (%)"], c='blue', alpha=0.5)
plt.title('Correlation between Death Rate 2020 (%) and Total Population 2021')

# Calculate the regression line
slope, intercept, r_value, p_value, std_err = linregress(covid_deaths_2020_df["Total Population 2021"], covid_deaths_2020_df["Death Rate 2020 (%)"])
x_range = np.linspace(covid_deaths_2020_df["Total Population 2021"].min(), covid_deaths_2020_df["Total Population 2021"].max(), 100)
y_range = slope * x_range + intercept

# Plot the regression line
plt.plot(x_range, y_range, color='red', linestyle='dashed', linewidth=2)

plt.xlabel('Total Population 2021')
plt.ylabel('Death Rate 2020 (%)')
plt.grid(True)

# Show the plot
plt.show()